---
export interface Props {
  title: string;
  subtitle?: string;
}

const { 
  title, 
  subtitle, 
} = Astro.props;
---

<section 
  class="relative py-20 bg-cover bg-center"
>
  <div class="container">
    <div class="max-w-3xl mx-auto text-center blueFont">
      <h1 class="text-4xl md:text-5xl font-bold mb-4 blueFont">{title}</h1>
      {subtitle && <p class="text-xl md:text-2xl">{subtitle}</p>}
    </div>
  </div>
</section>