---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeaderNoPicture from "../components/Sections/PageHeaderNoPicture.astro";
---

<BaseLayout
  title="Business Details | Ariane Mader"
  seoTitle="Business Details | Ariane Mader"
  description="Read the business details of Ariane Mader."
  canonicalUrl="https://arianemader.com/business-details"
  lang="en"
>
  <PageHeaderNoPicture 
    title="Business Details" 
    subtitle="Ariane Mader – Coaching &amp; Counselling"
  />
  
  
  <!-- About Me/Ariane -->
<section class="py-16 bg-white">
  <div class="container">
    <div class="max-w-6xl mx-auto text-center prose prose-lg prose-max-w-none prose-p:my-2">   
      <p>
        <b>Business name:</b> Ariane Mader</br>
        <b>KvK number:</b> 98252305</br>
        <b>VAT ID (btw-id):</b> NL005320329B95</br>
        <b>Email:</b> info@arianemader.com</br>
        <b>Contact address:</b> Keurenplein 41 Box C4004, 1069CD Amsterdam, The Netherlands
      </p>
</section>


</BaseLayout>
